/* Master styles */
body {
    font-family: "Marcellus", sans-serif;
    margin: 0px;
    background-color: whitesmoke ;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}


.left-side{
   display: flex;
}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.95em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color:#8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* Portfolio styles */

.subcategory {
    padding: 35px;
    text-transform: uppercase;
}

.portfolio-items-wrapper-KSA {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-items-wrapper-WPE {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio-items-wrapper-ECA {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio-item-wrapper{
    position: relative;
    text-transform: uppercase;
}

.portfolio-img-background {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.img-text-wrapper-2pc {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width: 70%;
    margin-bottom: 20px;
}

.logo-wrapper-2pc img{
    width: 60%;
    margin-bottom: 20px;
}

.img-text-wrapper .logo-wrapper {
    opacity: 0;
    transition: opacity 0.7s;
}

.img-text-wrapper:hover .logo-wrapper {
    opacity: 1;
}

.img-text-wrapper-2pc .logo-wrapper-2pc {
    opacity: 0;
    transition: opacity 0.7s;
}

.img-text-wrapper-2pc:hover .logo-wrapper-2pc {
    opacity: 1;
}

.img-text-wrapper .subtitle {
    transition: 0.7s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color:lightseagreen;
}

.img-text-wrapper-2pc .subtitle {
    transition: 0.7s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper-2pc:hover .subtitle {
    font-weight: 600;
    color:lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* About page styles */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
}

.profile-image-wrapper img {
    width: 55%;
    padding-left: 30%;
}

.profile-content-wrapper {
    padding-right: 40%;
    font-size: 1.2em;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
    text-transform: uppercase;
}